<?xml version="1.0" encoding="utf-8"?>

<!--
  ASP.NET 응용 프로그램을 구성하는 방법에 대한 자세한 내용을 보려면
  http://go.microsoft.com/fwlink/?LinkId=169433을 방문하십시오.
  -->

<configuration>
  <appSettings>
    <add key="ENCKEY" value="23rfasdfadf23"/>
    <add key="KMEPath" value="Z:\00.DAT\"/>
    <add key="DBPKEY" value="jkpke5000"/>
    <add key="ENCKEY1" value="nfactor!planemo!nfactor!planemo!"/>
    <add key="RPath" value="Z:\Temp"/>
    <add key="dcykey" value="jkpke5000"/>
    <add key="ecykey" value="23rfasdfadf23"/>
   <add key="LogPath" value="z:\Log\Gscan3"/>
    
  </appSettings>
  
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2500000"/>
      </webServices>
    </scripting>
  </system.web.extensions>

  <connectionStrings>
    <!--   <add name="ConnectDB" connectionString="Data Source=10.37.52.198; initial catalog=GDS_M; User ID=GDS;Password=GDSUser!@#$;" providerName="System.Data.SqlClient" /> -->
     <add name="ConnectDB" connectionString="Data Source=14.63.167.189,3314; initial catalog=GDS_M; User ID=wst;Password=wst~!@#$SQL;"
       providerName="System.Data.SqlClient"/>
    <add name="ConnectDB2" connectionString="Data Source=14.63.213.24,3314; initial catalog=Soul_SMS; User ID=wst;Password=wst~!@#$SQL;"
       providerName="System.Data.SqlClient"/>
    <add name="ConnectDB3" connectionString="Data Source=2001050076N05; initial catalog=survey; User ID=sangka;Password=developer00;"
       providerName="System.Data.SqlClient"/>
	  <add name="constr" connectionString="Data Source=165.244.44.233; initial catalog=ExPle; User ID=mesuser;Password=mesuser;"
		 providerName="System.Data.SqlClient"/>
    <!--    <add name="GDSMConnectDB" connectionString="Data Source=14.63.167.189,3314; initial catalog=GDS_M; User ID=~gdsm00;Password=~gdsm!@#;" providerName="System.Data.SqlClient"/> -->
  </connectionStrings>
  <system.web>


	  

	  <compilation debug="true" targetFramework="4.0">
    <assemblies>
      <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
    </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="2147483647"/>
                                   
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647"/>
      </requestFiltering>
    </security>
    <httpErrors errorMode="Custom">
      <remove statusCode="401" />
      <error statusCode="401" path="/Error.aspx" responseMode="Redirect" />
      <remove statusCode="403" />
      <error statusCode="403" path="/Error.aspx" responseMode="Redirect" />
      <remove statusCode="404" />
      <error statusCode="404" path="/Error.aspx" responseMode="Redirect" />
      <remove statusCode="405" />
      <error statusCode="405" path="/Error.aspx" responseMode="Redirect" />
      <remove statusCode="406" />
      <error statusCode="406" path="/Error.aspx" responseMode="Redirect" />
      <remove statusCode="412" />
      <error statusCode="412" path="/Error.aspx" responseMode="Redirect" />
      <remove statusCode="500" />
      <error statusCode="500" path="/Error.aspx" responseMode="Redirect" />
      <remove statusCode="501" />
      <error statusCode="501" path="/Error.aspx" responseMode="Redirect" />
      <remove statusCode="502" />
      <error statusCode="502" path="/Error.aspx" responseMode="Redirect" />
    </httpErrors>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>